
@{
    ViewBag.Title = "Trang chủ";
}

    <div class="jumbotron">
        <h2>Đăng nhập thành công</h2>
        
        @Html.ActionLink("Log out", "logOut", "Home", new { area = "" }, new { @class = "navbar-brand" })

    </div>
